# -------------------- IDE --------------------
.idea/
.vscode/
*.iml

# -------------------- OS --------------------
.DS_Store
Thumbs.db
Desktop.ini

# -------------------- Environment / Secrets --------------------
.env
.env.*
!.env.example
!example.env
.netrc

# -------------------- Swift / SwiftPM --------------------
/.build
/Packages
.swiftpm/configuration/registries.json
.swiftpm/xcode/
xcuserdata/
DerivedData/

# -------------------- Packaged Artifacts --------------------
release/
