# -------------------- IDE --------------------
.idea/
.vscode/

# -------------------- OS --------------------
.DS_Store
Thumbs.db
Desktop.ini

# -------------------- Environment / Secrets --------------------
.env
.env.*
!.env.example
!example.env

# -------------------- Node / TypeScript Generated --------------------
node_modules/
dist/
runtime/
models/*.bin
