# -------------------- IDE --------------------
.idea/
.vscode/
*.iml

# -------------------- OS --------------------
.DS_Store
Thumbs.db
Desktop.ini

# -------------------- Environment / Secrets --------------------
.env
.env.*
!.env.example
!example.env
.netrc

# -------------------- Rust / Cargo --------------------
target/

# -------------------- Local Build Artifacts --------------------
.build/

# -------------------- Packaged Artifacts --------------------
release/
